#search{
    width: 400px;
    margin: 10px auto;
}
#title-movie{
    text-align: center
}
.img-movie{
    float: right;

}
#movie-frame{
    margin-bottom: 200px;
}
.movie-left{
    height: 600px;
    width: 400px;
    float: left;
    margin-top: 26px;
    margin-left: 12%;
}
.movie-right {
    height: 600px;
    width: 600px;
    float: right;
    margin-right: 12%;
}
#explain{
    text-align: center;
}